.Courses__root {
  display: flex;
  margin: 0px auto 0px auto; 
  padding: 15px 0 0 0;
}

.Courses__search-panel-container {
  width: 250px;
}

.Courses__search-panel-paper {
  display: flex;
  flex-direction: column;
  align-items: left;
  padding: 16px;
  .MuiFormControlLabel-root {
    margin: 0;
  }
}

.Courses__search-panel-checkbox {
  .MuiTypography-root {
    font-size: 0.9srem;
  }
}

.Courses__search-button {
  margin-right: 8px;
}

.Courses__search-result-panel {
  width: 400px;
  margin: 0px 10px;
}