
$typographyColor: #424242;


.AppHeader__root-container {
  display: flex;
  flex-direction: column;
  width: 100%;
  .MuiPaper-root {
    background:transparent;
    box-shadow: none;
  }
  .MuiSvgIcon-root, .MuiButton-root, h6 {
    color: $typographyColor;
  }
  .MuiSvgIcon-root {
    margin-right: 16px;
  }
}

.AppHeader__main-app-bar {
  align-items: center;
  margin-bottom: 32px;
}

.AppHeader__tool-bar {
  display: flex;
  justify-content: space-between;
  width: 80%;
}

.AppHeader__second-tool-bar {
  justify-content: center;
}

.AppHeader__left-tool-bar-group {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.AppHeader__right-tool-bar-group {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.AppHeader__language-selector-container {
  margin: 0 0 0 15px;
}
