.AppHeader__root-container {
  display: flex;
  flex-direction: column;
  width: 100%;
}
.AppHeader__main-app-bar {
  align-items: center;
}

.AppHeader__tool-bar {
  display: flex;
  justify-content: space-between;
  width: 80%;
}

.AppHeader__second-tool-bar {
  justify-content: center;
}

.AppHeader__left-tool-bar-group {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.AppHeader__right-tool-bar-group {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.AppHeader__language-selector-container {
  margin: 0 0 0 15px;
}